@import "../node_modules/bootstrap/scss/bootstrap";

.chartContainer {
    max-width: 1000px;
    height:500px;
}
.tickerInput {
    max-width: 150px;
}
.newsImage {
    width:100%;
}
.newsSourceText {
    font-size: 17px;
}